# Adjusting Budget for Inflation #

In [ ]:
import numpy as np
import pandas as pd
import json

import statsmodels.api as sm

import matplotlib.pyplot as plt 
%matplotlib inline

import random as rand
import seaborn as sns

from sklearn.metrics import mean_squared_error
#from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

from datetime import datetime

In [ ]:
movies = pd.read_csv("movies_inflation_adjusted.csv")
movies.columns

Index(['id', 'adult', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'cast', 'crew', 'keywords', 'Year',
       'Ticket Price', 'ROI', 'Tickets Sold', 'Revenue in 2023', 'Month'],
      dtype='object')

In [ ]:
#Importing CPI Data by Year

In [ ]:
cpi_year = pd.read_csv("CPI_data.csv")
cpi_year

     Year      CPI
0    1913    9.900
1    1914   10.000
2    1915   10.100
3    1916   10.900
4    1917   12.800
..    ...      ...
106  2019  255.657
107  2020  258.811
108  2021  270.970
109  2022  292.655
110  2023  301.836

[111 rows x 2 columns]

In [ ]:
 = movies.merge(cpi_year, how = "inner", on="Year")

In [ ]:
budget_merged["Budget in 2023"] = (301.836/budget_merged["CPI"])*budget_merged["budget"]
budget_merged

,id,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,...,crew,keywords,Year,Ticket Price,ROI,Tickets Sold,Revenue in 2023,Month,CPI,Budget in 2023
0,10003,False,"{'id': 86224, 'name': 'The Saint Collection', ...",68000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,tt0120053,en,The Saint,"Ivan Tretiak, Russian Mafia boss who wants to ...",...,"[{'credit_id': '52fe43039251416c75000187', 'de...","[{'id': 220, 'name': 'berlin'}, {'id': 2139, '...",1997,4.59,0.736225,2.572185e+07,2.687934e+08,4,160.5,1.278807e+08
1,10155,False,NaN,19000000,"[{'id': 53, 'name': 'Thriller'}]",NaN,tt0120399,en,U Turn,When Bobby's car breaks down in the desert whi...,...,"[{'credit_id': '52fe43379251416c75007dc3', 'de...","[{'id': 1927, 'name': 'car breakdown'}, {'id':...",1997,4.59,-0.648311,1.455795e+06,1.521306e+07,10,160.5,3.573136e+07
2,10336,False,NaN,40000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0120177,en,Spawn,After being murdered by corrupt colleagues in ...,...,"[{'credit_id': '52fe435b9251416c7500d4d5', 'de...","[{'id': 2095, 'name': 'anti hero'}, {'id': 428...",1997,4.59,1.196001,1.913726e+07,1.999844e+08,7,160.5,7.522393e+07
3,10351,False,"{'id': 135489, 'name': 'Wishmaster Collection'...",5000000,"[{'id': 27, 'name': 'Horror'}]",NaN,tt0120524,en,Wishmaster,The Djinn having been released from his ancien...,...,"[{'credit_id': '52fe435e9251416c7500dbb5', 'de...","[{'id': 657, 'name': 'fire'}, {'id': 2250, 'na...",1997,4.59,2.143822,3.424642e+06,3.578751e+07,9,160.5,9.402991e+06
4,10371,False,NaN,35000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0119142,en,For Richer or Poorer,"Brad Sexton and his wife, Caroline, are wealth...",...,"[{'credit_id': '52fe43629251416c7500e327', 'de...","[{'id': 242, 'name': 'new york'}, {'id': 904, ...",1997,4.59,-0.096822,6.886977e+06,7.196891e+07,12,160.5,6.582093e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4508,60216,False,NaN,855000,"[{'id': 53, 'name': 'Thriller'}, {'id': 10752,...",NaN,tt0035884,en,Five Graves to Cairo,"The British Army, retreating ahead of victorio...",...,"[{'credit_id': '56c3c988c3a36871fd00058b', 'de...","[{'id': 612, 'name': 'hotel'}, {'id': 1160, 'n...",1943,0.29,0.403509,4.137931e+06,4.324138e+07,5,17.3,1.491733e+07
4509,618,False,NaN,100000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,tt0004972,en,The Birth of a Nation,The Birth of A Nation is a silent film from 19...,...,"[{'credit_id': '59d42f0ec3a368453f009d78', 'de...","[{'id': 529, 'name': 'ku klux klan'}, {'id': 5...",1915,0.07,109.000000,1.571429e+08,1.642143e+09,2,10.1,2.988475e+06
4510,70368,False,NaN,17311,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0005078,en,The Cheat,"A venal, spoiled stockbroker's wife impulsivel...",...,"[{'credit_id': '52fe47f4c3a368484e0e2655', 'de...",[],1915,0.07,6.935128,1.962357e+06,2.050663e+07,12,10.1,5.173350e+05
4511,65203,False,NaN,379000,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt0019729,en,The Broadway Melody,"Harriet and Queenie Mahoney, a vaudeville act,...",...,"[{'credit_id': '52fe4701c3a368484e0afdcb', 'de...","[{'id': 4344, 'name': 'musical'}, {'id': 10229...",1929,0.35,10.498681,1.245143e+07,1.301174e+08,2,17.1,6.689815e+06
4512,73969,False,NaN,483103,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,tt0018183,en,My Best Girl,"Joe Merrill, son of the millionaire owner of a...",...,"[{'credit_id': '58f2c8ac9251413d6e007220', 'de...",[],1927,0.25,1.127408,4.111028e+06,4.296024e+07,10,17.4,8.380338e+06

In [ ]:
budget_merged.iloc[0]

id                                                                   10003
adult                                                                False
belongs_to_collection    {'id': 86224, 'name': 'The Saint Collection', ...
budget                                                            68000000
genres                   [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...
homepage                                                               NaN
imdb_id                                                          tt0120053
original_language                                                       en
original_title                                                   The Saint
overview                 Ivan Tretiak, Russian Mafia boss who wants to ...
popularity                                                        10.97633
poster_path                               /uA24D8JCg21RDINMZ3vFaQYdIzW.jpg
production_companies     [{'name': 'Paramount Pictures', 'id': 4}, {'na...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1997-04-03
revenue                                                          118063304
runtime                                                              116.0
spoken_languages         [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
status                                                            Released
tagline                  Never reveal your name. Never turn your back. ...
title                                                            The Saint
video                                                                False
vote_average                                                           5.9
vote_count                                                             310
cast                     [{'cast_id': 13, 'character': 'Simon Templar',...
crew                     [{'credit_id': '52fe43039251416c75000187', 'de...
keywords                 [{'id': 220, 'name': 'berlin'}, {'id': 2139, '...
Year                                                                  1997
Ticket Price                                                          4.59
ROI                                                               0.736225
Tickets Sold                                               25721852.723312
Revenue in 2023                                           268793360.958606
Month                                                                    4
CPI                                                                  160.5
Budget in 2023                                            127880672.897196
Name: 0, dtype: object

In [ ]:
budget_merged.to_csv('movies_budget_adjusted.csv',index=False)

In [ ]:
movies_budget = pd.read_csv("movies_budget_adjusted.csv")
movies_budget.columns

Index(['id', 'adult', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'cast', 'crew', 'keywords', 'Year',
       'Ticket Price', 'ROI', 'Tickets Sold', 'Revenue in 2023', 'Month',
       'CPI', 'Budget in 2023'],
      dtype='object')